
@{
    ViewBag.Title = "Index";
}

    <div class="text-center">
        <p>
            <h2>Another Singles Portluck Fellowship is here </h2>
            <h3>Please login to RSVP and let us know what you're bringing</h3>
        </p>
        <div class="btn btn-success">
            @Html.ActionLink("Login To RSVP", "login","Auth")
        </div>
    </div>
